<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <!-- Change the page title here -->
        <h1>
            Shielded Vulnerable People Service

        </h1>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->



        <h2>
            Prototypes
        </h2>

        <p><a href="uj1/enter-email">UJ1</a> - beginning at NHS login</p>
        <p><a href="https://svps.herokuapp.com/uj1/index.html">UJ1</a> - beginning at Gov.uk</p>
        <br />
        <p><a href="uj2/enter-email">UJ2</a> - returning user (with an NHS login) beginning at NHS login</p>
        <p><a href="uj2/enter-email-new">UJ2</a> - returning user (without an NHS login) beginning at NHS login</p>
        <p><a href="https://svps.herokuapp.com/uj2/index.html">UJ2</a> - beginning at Gov.uk</p>
        <br />
        <p><a href="uj3/enter-email">UJ3</a> - to follow...</p>
        <!-- End of content -->

    </div>
</div>
{% endblock %}
